html {
    font-size: 16px; 
    box-sizing: border-box;   
}
body {
   
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
main {
    display: grid; 
    max-width: 900px;
    margin: auto;       
    grid-gap: 0.75rem;     
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    justify-items: space-around;
    justify-content: space-around;
    background-color:mintcream;
    padding: 80px;
    border: 2px solid black;
}
nav {
    font-size: 1.2rem;    
    position: absolute;
    display: inline;    
    float: right;      
    margin-left: 29rem;
    font-weight: 600;
    top: 0;
    text-decoration: none;
    margin-top: 1.5rem;
}
li a {
    text-decoration: none;
}
a:visited {
    color: black;
}
a:link {
    color:black
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.2rem;
}
li {
    cursor:pointer;
    line-height: 1.75rem;
    margin-right: 1rem;
}
.developer-info {
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
    position: absolute;
    max-width: 35rem;   
}
.name-title p {
    font-size: 1.1rem;    
}
.name-title {
    padding: 1rem 0;
    padding: 4.1rem 0; 
}
.about-me p {
    line-height: 1.5rem;
    font-size: 1.1rem;    
}
.about-me {
    padding-bottom: 4rem;
}
.display-pic {
    grid-row: 1 / span 1;
    grid-column: 10 / span 2;     
    min-width: 500px;
    padding: 2rem 0;
}
img {
    border-radius: 50%; 
}
.contact {
    grid-row: 2 / span 1;
    grid-column: 10 / span 4;  
    margin-right: 2.5rem;
    font-size: 0.9rem;
}
.contact li {
    
}
.projects {
    grid-row: 4 / span 1;
    grid-column: 1 / span 6;     
}
.projects li {
    list-style-type: circle; 
}
.skills {
    grid-row: 3 / span 1;
    grid-column: 1 / span 9;  
    padding-top: 8rem;    
}
.programmingFunction {
    grid-row: 4 / span 1;
    grid-column: 6 / span 6; 
}
footer {
    grid-row: 5 / span 1;
    grid-column: 1 / span 12;
    border-top: 2px solid black; 
    text-align: center;  
    padding-top: 5.5rem; 
    font-size: 1rem;
}
nav ul {
    list-style-type: none;       
}
nav ul li {
    display: inline;
    padding: 0.5rem;  
    margin-left: 10px;   
} 
.display-pic img {
    width: 40%;
}
.fab {
    font-size: 2.1rem;  
    padding: 1.5rem; 
}
.fas {
    font-size: 0.9rem;
}
@media only screen and (min-width:770px) and (max-width:1006px) {
    main {
        display: grid;
        max-width: 700px;
        max-height: 1800px;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: repeat(5, 1fr);
        margin: auto;
        /* justify-content: space-around; */
    }
    nav {
        display: inline;        
        position: absolute;
        float: left;
        margin: 0;
        margin-top: 2rem;
        margin-right: 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 0.9rem;
    }
    .developer-info {         
        grid-row: 2 / span 4;
        grid-column: 1 / span 3;
    }
    .display-pic {
        grid-row: 1 / span 1;
        grid-column: 5 / span 1;     
        min-width: 400px;        
    }
    .contact {
        grid-row: 5 / span 1;
        grid-column: 1 / span 6;  
        margin-right: 2.5rem;
        font-size: 0.9rem;
        height: auto;
    }
    .projects {
        margin-top: 4.5rem;
        grid-row: 4 / span 6;
        grid-column: 1 / span 6; 
        height: auto;    
    }
    .skills {
        grid-row: 3 / span 1;
        grid-column: 1 / span 9;
        margin-top: 2.4rem;             
    }
    .name-title {
        margin-top: 10rem;   

    }
    .about-me p {        
        font-size: 1rem;    
    }
    footer {
        grid-row: 6 / span 1;
        grid-column: 1 / span 6; 
        padding: 0;
        margin-bottom: -9.7rem;          
    }
}
@media only screen and (min-width: 375px) and (max-width:450px) {
    main {
        grid-template-columns: 450px;
        grid-template-rows: repeat(8, 1fr);
        background-color:mintcream;
        min-width: 140%;
    }
    nav {
        display: block;        
        position: absolute;
        left: 0;
        font-size: 3rem;
        border-bottom: 4rem;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;        
    }
    .display-pic {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1; 
        margin-left: 8.5rem;                  
    }
    .developer-info {         
        grid-row: 2 / span 5;
        grid-column: 1 / span 1;
        margin-top: 12rem; 
        min-width: 140%;       
    }
    .contact {
        grid-row: 7 / span 1;
        grid-column: 1 / span 1;
        margin-top: 3.5rem;                 
    } 
    .contact li {
        line-height: 1.5;
        font-size: 2rem; 
    }
    .contact h3 {
        font-size: 2rem;
    }
    .projects {
        display: none;    
    }     
    .skills {
        grid-row: 6 / span 1;
        grid-column: 1 / span 1;
        width: 120%;
    }       
    .about-me p {        
        font-size: 2.5rem;   
        line-height: 1.5; 
    }
    footer {
        grid-row: 8 / span 1;
        grid-column: 1 / span 6;
        font-size: 2rem;
        font-weight: bold;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 2rem;
    }    
    .name-title p{
        font-size: 2rem;
    }
    .fab {
        font-size: 3.5rem;  
 }
}

@media only screen and (max-width:375px) {


}