html {
    font-size: 16px;
    box-sizing: border-box;
}
body {
   
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
main {
    display: grid; 
    max-width: 900px;
    margin: auto;       
    grid-gap: 0.75rem;     
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    justify-items: space-around;
    justify-content: space-around;
    background-color:mintcream;
    padding: 80px;
}
nav {
    font-size: 1.2rem;    
    position: absolute;
    display: inline;    
    float: right;
    align-content:center;    
    margin-left: 29rem;
    font-weight: 600;
    top: 0;
    text-decoration: none;
}
li a {
    text-decoration: none;
}
a:visited {
    color: black;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.2rem;
}
li {
    cursor:pointer;
    line-height: 1.75rem;
    margin-right: 1rem;
}
.developer-info {
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
    position: absolute;
    max-width: 35rem;   
}
.name-title p {
    font-size: 1.1rem;    
}
.name-title {
    padding: 1rem 0;
    padding: 4.1rem 0; 
}
.about-me p {
    line-height: 1.5rem;
    font-size: 1.1rem;    
}
.about-me {
    padding-bottom: 4rem;
}
.display-pic {
    grid-row: 1 / span 1;
    grid-column: 10 / span 2;     
    min-width: 500px;
    padding: 2rem 0;
}
img {
    border-radius: 50%; 
}
.contact {
    grid-row: 2 / span 1;
    grid-column: 10 / span 4;  
    margin-right: 2.5rem;
    font-size: 0.9rem;
}
.contact li {
    
}
.projects {
    grid-row: 4 / span 1;
    grid-column: 1 / span 6;     
}
.projects li {
    list-style-type: circle; 
}
.skills {
    grid-row: 3 / span 1;
    grid-column: 1 / span 9;  
    padding-top: 8rem;  
}
.programmingFunction {
    grid-row: 4 / span 1;
    grid-column: 6 / span 6; 
}
footer {
    grid-row: 5 / span 1;
    grid-column: 1 / span 12;
    border-top: 2px solid black; 
    text-align: center;  
    padding-top: 5.5rem; 
    font-size: 1rem;
}
nav ul {
    list-style-type: none;       
}
nav ul li {
    display: inline;
    padding: 0.5rem;  
    margin-left: 10px;   
} 
.display-pic img {
    width: 40%;
}
.fab {
    font-size: 2.1rem;  
    padding: 1.5rem; 
}
.fas {
    font-size: 0.5rem;
}